@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200;300;400;500;600;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto Mono', monospace;
}

img{
  max-width: 100%;
}

.nav-item{
  text-decoration: none;
  color: #2596be;
}

.icons{
  font-size: 1.5rem;
  padding: 0px 10px;
}

.footer-text{
  opacity: .5;
}

.copyright{
  display: flex;
  background: #f0f4f5;
  margin-left: 70px;
  font-size: .8rem;
  opacity: .8;
  padding: 10px 0px;
}