@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200;300;400;500;600;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto Mono', monospace;
}
.logo-link{
  display: flex;
}

img{
  max-width: 100%;
}

.nav-item{
  text-decoration: none;
  color: #2596be !important;
}

.icons{
  font-size: 1.5rem;
  padding: 0px 10px;
}

.footer-text{
  opacity: .5;
}

.copyright{
  display: flex;
  /* background: #f0f4f5; */
  padding-left: 70px;
  font-size: .8rem;
  opacity: .8;
  padding-top: 10px;
  padding-bottom: 10px;
}

/* light mode styles */
.bg-light {
  background-color: #fff;
}

.heading-light {
  color: #222;
}

.para-light {
  color: #222;
}

.btn-light {
  background-color: #222;
  color: #fff;
  font-size: 15px;
  cursor: pointer;
}

/* Dark Mode Styles */

.bg-dark {
  background-color: #222;
}

.heading-dark {
  color: #fff;
}

.para-dark {
  color: #fff;
}

.btn-dark {
  background-color: #fff;
  color: #111;
  opacity: 1;
}

/* end dark light theme */

@media (max-width: 768px) {
  .copyright{
    display: flex;
    /* background: #f0f4f5; */
    padding-left: 20px;
    font-size: .7rem;
  }
}