@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200;300;400;500;600;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto Mono', monospace;
}
.logo-link{
  display: flex;
}

img{
  max-width: 100%;
}

.nav-item{
  text-decoration: none;
  color: #2596be !important;
}

.icons{
  font-size: 1.5rem;
  padding: 0px 10px;
}

.footer-text{
  opacity: .5;
}

.copyright{
  display: flex;
  /* background: #f0f4f5; */
  padding-left: 70px;
  font-size: .8rem;
  opacity: .8;
  padding-top: 10px;
  padding-bottom: 10px;
}

/* light mode styles */
.bg-light {
  background-color: #fff;
}

.heading-light {
  color: #222;
}

.para-light {
  color: #222;
}

.btn-light {
  background-color: #222;
  color: #fff;
  font-size: 15px;
  cursor: pointer;
}

/* Dark Mode Styles */

.bg-dark {
  background-color: #222;
}

.heading-dark {
  color: #fff;
}

.para-dark {
  color: #fff;
}

.btn-dark {
  background-color: #fff;
  color: #111;
  opacity: 1;
}

/* end dark light theme */

@media (max-width: 768px) {
  .copyright{
    display: flex;
    /* background: #f0f4f5; */
    padding-left: 20px;
    font-size: .7rem;
  }
}

/* posts styles */

.posts{
  display: grid;
  grid-template-columns: repeat(4, 2fr);
  width: 100%;
  margin: auto;
  padding: 100px;
  grid-gap: 30px;

}

.single-post{
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: flex-start;
  padding: 70px;
  padding-top: 40px;
  height: auto;
  color: #fff !important;
}

.post-details{
  display: flex;
  width: 40%;
  height: auto;
  margin-top: 30px;
}

.post-title{
  margin-top: 30px;
}

.post-description p{
  line-height: 1.8;
}

.post-link{
  text-transform: capitalize;
  font-size: 1.2rem;
  color: #2596be;
  font-weight: 700;
  text-decoration: none;
}

/* LOADER STYLES */
#spinner {
   width: 56px;
   height: 56px;
   border: 11.2px #474bff double;
   border-left-style: solid;
   border-radius: 50%;
   animation: spinner-aib1d7 0.75s infinite linear;
}

@keyframes spinner-aib1d7 {
   to {
      transform: rotate(360deg);
   }
}


/* END OF LOADER STYLES */

@media (max-width: 768px) {
  .posts{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: auto;
    padding: 20px;
  }

  .single-post{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: flex-start;
    padding: 70px;
    padding-top: 40px;
    min-height: 100vh !important;
  }

  .post-description{
    display: flex;
    width: 40%;
    height: auto;
    margin-top: 30px;
  }

  .post-title{
    margin-top: 30px;
  }

  .post-description p{
    line-height: 1.8;
  }

  .post-link{
    text-transform: capitalize;
    font-size: 1.2rem;
    color: #2596be;
    font-weight: 700;
    text-decoration: none;
  }
}


/*new post component style*/
#add-post{
  background: #2596be;
  color: #ffffff !important;
  padding: 10px;
  border-radius: 2px;
}

.add-new-post{
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

#newPostForm{
  display: flex;
  flex-direction: column;
  width: 50%;
}

.input{
  display: flex;
  margin-top: 20px;
  width: 100%;
}

.input{
  width: 100%;
}

#title,
#author,
#description{
  padding: 15px;
  outline: none;
  width: 50%;
}

#add-btn{
  margin-top: 20px;
  width: 20%;
  padding: 15px;
  cursor: pointer;
}

/*empty page styles*/

.empty-page{
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

.empty-page img{
  width: 10%;
}

